/* -------------------------------- 

File#: _1_off-canvas-content
Title: Off-Canvas Content
Descr: An off-canvas section used for complementary content
Usage: codyhouse.co/license

-------------------------------- */

:root {
  --off-canvas-panel-width: 400px;
  --off-canvas-panel-width-opposite: -400px; // it should be equal to (--off-screen-panel-width * -1)
  --off-canvas-animation-duration: 0.4s;
}

.off-canvas {
  overflow: hidden;
}

.off-canvas__main { // main content, pushed out when off-canvas content is visible
  position: relative;
  z-index: 2;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-bg);
  box-shadow: var(--shadow-md);
  will-change: transform;
  transition: transform var(--off-canvas-animation-duration) var(--ease-in-out); 
}

.off-canvas--visible .off-canvas__main { // off-canvas content is always full-width on small devices
  transform: translateX(100%);
}

@include breakpoint(xs) { // change tanslate value if off-canvas is not full-width
  .off-canvas--visible:not(.off-canvas--full-width) .off-canvas__main {
    transform: translateX(var(--off-canvas-panel-width));
  }
}

// right-side panel variation
.off-canvas--right.off-canvas--visible .off-canvas__main {
  transform: translateX(-100%);
}

@include breakpoint(xs) {
  .off-canvas--right.off-canvas--visible:not(.off-canvas--full-width) .off-canvas__main {
    transform: translateX(var(--off-canvas-panel-width-opposite));
  }
}

.off-canvas__close-btn { // if JS = disabled, hide panel close button
  display: none;
}

.js {
  .off-canvas__panel {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background-color: var(--color-contrast-lower);
    transition: visibility var(--off-canvas-animation-duration);

    &:focus {
      outline: none;
    }
  }
  
  @include breakpoint(xs) {
    .off-canvas:not(.off-canvas--full-width) .off-canvas__panel {
      width: var(--off-canvas-panel-width);
    }
  }

  .off-canvas__content { // off-canvas panel content
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(-50%);
    will-change: transform;
    transition: transform var(--off-canvas-animation-duration) var(--ease-in-out);
  }

  .off-canvas__close-btn {
    display: block;
    position: fixed;
    top: var(--space-xxs);
    left: var(--space-xxs);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: alpha(var(--color-bg), 0.95);
    box-shadow: var(--shadow-sm);
    transform: translateX(-60px);
    transition: transform .4s, background .2s, box-shadow .2s;

    &:hover {
      background-color: var(--color-bg);
      box-shadow: var(--shadow-md);
    }
    
    .icon {
      display: block;
      color: var(--color-contrast-high); // icon color
      font-size: 16px; // icon size
    }
  }

  .off-canvas--visible {
    .off-canvas__panel {
      visibility: visible;
    }

    .off-canvas__content {
      transform: translateX(0);
    }

    .off-canvas__close-btn {
      transform: translateX(0);
      transition: transform .4s var(--off-canvas-animation-duration), background .2s 0s, box-shadow .2s 0s;
      // transition-delay: var(--off-canvas-animation-duration);
    }
  }

  // right-side panel variation
  .off-canvas--right {
    .off-canvas__panel {
      left: auto;
      right: 0;
    }

    &:not(.off-canvas--visible) .off-canvas__content {
      transform: translateX(50%);
    }

    .off-canvas__close-btn {
      left: auto;
      right: var(--space-xxs);
    }

    &:not(.off-canvas--visible) .off-canvas__close-btn {
      transform: translateX(60px);
    }
  }
}

// --full-width
.off-canvas--full-width { 
  --off-canvas-animation-duration: 0.75s; // increase animation duration if panel is full-screen

  .off-canvas__close-btn {
    width: 2em;
    height: 2em;

    .icon {
      font-size: 1em;
    }
  }
}